<div class='container'>
  <div class='row hoge'>
    <%= image_tag 'youkoso2.jpg', :width => '100%'%>
    <div class='about-text'>
      <h3>
        「おうち工作のひろば」はおうち工作が集まる場所です。
        「こんな作品を作ったよ！」と皆に見せてもいいし、
        「家で工作をしたいけど面白そうなのないかなあ」と
        探しに来てもいいです。いろいろな工作があるので、
        材料やむずかしさを選んでチャレンジしてみよう！
      </h3>
    </div>
  </div>
</div>
