<div class="container">
  <div class="row hoge">
    <%= image_tag "youkoso2.jpg", :width => "100%"%>
    <div class="about-text text-center mt-3">
      <h3>「<strong>おうち工作のひろば</strong>」へようこそ。<br></h3>
      <h3>
        ここではつくった工作をみんなに見せたり、<br>
        工作のアイデアをさがすことができます。<br>
      </h3>
      <h3>
        いろいろな工作があるので、
        <strong>つかうもの</strong>や<strong>むずかしさ</strong>を選んでチャレンジしてみよう！
      </h3>
      <a href="/articles" class="btn1 btn--green btn--radius btn--cubic mt-1 ">工作をさがす！<i class="fas fa-angle-right fa-position-right"></i></a>
      <a href="/articles/new" class="btn1 btn--red btn--radius btn--cubic mt-1">工作を見せる！<i class="fas fa-angle-right fa-position-right"></i></a>
    </div>
  </div>
</div>
