/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "summernote-bs4";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Kosugi');



body {
  background-image:image-url("maru5.jpg");
  font-family:'Kosugi', sans-serif;
}

.row.hoge{
    display: flex;
    justify-content: center;
}

.heading08 {
	font-size: 40px;
}

.heading08 span {
	display: flex;
	align-items: center;
	color: #deb887;
	font-size: 30px;
	text-transform: uppercase;
}

.heading08 span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 60px;
	height: 1px;
	background-color: #deb887;
}


header{
	background-image:image-url('wood.jpg');
	background-size:cover;
}


footer{
	background-image:image-url('wood.jpg');
	background-size:cover;
}

h1{
  font-family: 'Corben','Kosugi', sans-serif;;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0rem 0.5rem 0rem 2rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #fa4141;
  text-decoration: none;
}
// tagのデザイン

.tag:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.favorite-color {
  margin-left:200px;
}

.no-underline{
  text-decoration:none !important;

}

.hukidasi {
  position: relative;
  padding: 0.5rem;
  border: 3px solid #d8d8d8;
  border-radius: 10px;
  background: #f9f9f9;
}

.hukidasi:before {
  position: absolute;
  bottom: -14px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #d8d8d8 transparent transparent transparent;
}

.hukidasi:after {
  position: absolute;
  bottom: -10px;
  left: 1em;
  width: 0;
  height: 0;
  content: '';
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #f9f9f9 transparent transparent transparent;
}

.search-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.search-form{
  position: relative;
  width: 230px;
  box-sizing: border-box;
}

.search-form > form{
  padding: 3px 15px;
}


.search-form input[type="submit"]{
  cursor: pointer !important;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: #3879D9;
  color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  outline : none;
  position: absolute;
  top: -5px;
  right: -6px;
}

.tag-search-form {
  border-right: 2px solid;
}

.sort-box > form {
  padding-top: 3px;
}

.sort-box > form > select {
  padding: 4px 0;
}

.pagination-area {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.hidden{
  overflow: hidden;
}

.c{
  width : 100%;
}

.slick-dots {
  li {
    font-size: 30px !important;
    button:before {
      font-size: 20px !important;
      color: rgb(0, 0, 100) !important;
    }
  }
}

.article-new > h5, .h5 {
    font-size: 1.25rem;
    margin-top: 2em;
}

.jiyuu{
  padding: 4px;
  margin-right: 5px;
}

.nonefont > input {
  font-family: none !important;
}


.big {
  transition: all 0.2s;
}

.big:hover {
  transform: scale(1.2, 1.2) !important;
}

.turn {
  transition: all 1s;
}

.turn:hover {
  transform: rotateX( 360deg ) !important;
}

.bottom-up {
　background: skyblue;
　padding: 8px 16px;
　color: white;
}


.bottom-up:hover {
  box-shadow: 0 5px 10px black;
　transform: translate(0, -5px);
}



#result > img {
  max-width: 300px;
}

#result2 > img {
  max-width: 100px;
}

.favo-margin {
  margin-top: 2em;
  margin-bottom: 6em;
}

.signup-bg {
  background-image:image-url("signup.jpg");
  background-size: cover;
  padding: 5em;
}

.login-bg {
  background-image:image-url("note1.jpg");
  background-size: cover;
  padding: 5em;
}

